<div>
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <p>{{slide.text}}</p>
      </div>
    </slide>
  </carousel>
</div>
<div class="weui_grids">
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
            爱心商家
        </p>
    </a>
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui_grid_label">
            爱心商品
        </p>
    </a>
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
            益文
        </p>
    </a>
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui_grid_label">
            公益组织
        </p>
    </a>
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
            求助
        </p>
    </a>
    <a href="javascript:;" class="weui_grid">
        <div class="weui_grid_icon">
            <img src="/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui_grid_label">
            扫一扫
        </p>
    </a>
</div>
