<div class="main">
    <div class="header">
        <a href="#" class="go_left"><img src="/images/go.png"></a>
        <span>爱心社区</span>
        <a href="#" class="fa_left"><img src="/images/fabu.png"></a>
    </div>
    
    <div class="wrap" >
            <UL id="container">
            
            <LI class="box" >
                    <div class="author">
                            <a href="#"><img src="/images/icon/icon2.png"></a>
                            <p class="author_name">楼主：天边的小白</p>
                            <p class="author_time">时间：5分钟前</p>
                            <a href="#" class="close"><img src="/images/close.png"></a>
                    </div>
                    <a href="#">
                        <div class="topic">
                            <div><img class="lazy" src="/images/weixin.jpg"  data-original="/images/photo/pho.jpg"></div>
                            <p>三亚好好玩！三亚好好玩！</p>
                            
                        </div>
                    </a>
                    <div class="click_hf">
                        <a class="zan"><img  src="/images/zan1.png"></a>
                        <span>15</span>
                        <a  class="huifu"><img src="/images/huifu.png"></a>
                        <a  class="fenx"></a>                  
                    </div>
            
            </LI>           
           
            </UL>
            <ul id="test">
            
              <LI class="box" >
                    <div class="author">
                            <a href="#"><img src="/images/icon/icon2.png"></a>
                            <p class="author_name">楼主:测试 测试</p>
                            <p class="author_time">时间：5分钟前</p>
                            <a href="#" class="close"><img src="/images/close.png"></a>
                    </div>
                    <a href="#">
                        <div class="topic">
                            <div><img class="lazy" src="/images/data.png"  data-original="/images/photo/pho.jpg"></div>
                            <p>三亚好好玩！三亚好好玩！</p>
                            
                        </div>
                    </a>
                    <div class="click_hf">
                        <a class="zan"><img  src="/images/zan1.png"></a>
                        <span>15</span>
                        <a  class="huifu"><img src="/images/huifu.png"></a>
                        <a  class="fenx"></a>                  
                    </div>
            
            </LI>
            </ul>
     <h1 style="text-align:center">正在加载...</h1>  
    
    </div>
    
    
</div>   